




.fsadmin-container {
  background: plum;
  min-height: 100vh;
  padding: 25px;
  text-align: center;
}

/* Headings */
.fsadmin-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
  color:red;

}

.fsadmin-sub-title {
  font-size: 20px;
  margin-bottom: 20px;
  color:green;
}

/* Main Box */
.fsadmin-box {
  border: 2px solid #000;
  padding: 15px;
  width: 90%;
  margin: auto;
  background: #fff;
}

/* Row of fields */
.fsadmin-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 18px; /* spacing between field groups */
}

/* REMOVE space between label and input */
.fsadmin-row label {
  margin-right: 2px;
}

/* Inputs / Dropdowns */
.fsadmin-select,
.fsadmin-small-input,
.fsadmin-large-input {
  padding: 4px;
  border: 1px solid #333;
}

/* Make sizes consistent */
.fsadmin-select,
.fsadmin-small-input {
  width: 140px;
}

.fsadmin-large-input {
  width: 260px;
}

/* Search Button */
.fsadmin-search-btn {
  padding: 6px 18px;
  background: #0066ff;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.fsadmin-view-btn{
  padding: 6px 18px;
  background: lightpink;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.fsadmin-download-btn{
   padding: 6px 18px;
  background: lightblue;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  
}

/* Textarea same width as box */
.fsadmin-textarea {
  width: 100%;
  margin: 20px auto 0 auto;
  height: 400px;
  display: block;
  padding: 10px;
  border: 1px solid #333;
    overflow: auto;
  resize: none;
}

/* PRINT Button (Gap added) */
.fsadmin-print-btn {
  margin-top: 15px;
  padding: 8px 25px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
