.pacc-wrapper {
  width: 90%;
  margin: auto;
  padding: 20px;
}

.pacc-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 5px;
}

.pacc-subtitle {
  text-align: center;
  margin-bottom: 20px;
  color: gray;
}

.pacc-box {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.pacc-box input {
  padding: 6px;
  width: 140px;
}

.pacc-submit {
  padding: 7px 15px;
  background: rgb(0, 102, 255);
  color: white;
  border: none;
  cursor:pointer;
}

.pacc-btn-area {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.pacc-view,
.pacc-download,
.pacc-print {
  padding: 7px 15px;
  border: none;
  background: black;
  color: white;
  cursor:pointer;
}

.pacc-textbox {
  width: 100%;
  height: 350px;
  margin-top: 15px;
  padding: 10px;
  font-family: monospace;
  white-space: pre;
}
